body {
	background: #282a36;
}

main {
	// Game box styles
	#game-box {
		// Size and position
		width: 100vw;
		height: 100vh;
		position: relative;

		// Ball styles
		#ball {
			position: absolute;
			top: 10px;
			left: 10px;

			width: 50px;
			height: 50px;

			border-radius: 100%;

			background-color: #00ffff;

			z-index: 2;
		}

		// Squares Styles
		.squares {
			position: absolute;
			top: 10px;
			left: 100px;

			width: 100px;
			height: 100px;

			border-radius: 8px;

			background-color: #6495ed;
			border:3px solid #2c4269;

			z-index: 1;
		}
	}
}
