body {
	background: #282a36;
}

main {
	// Game box styles
	#game-box {
		// Size and position
		width: 100vw;
		height: 100vh;
		position: relative;

		// Ball styles
		#ball {
			position: absolute;
			top: 10px;
			left: 10px;

			width: 50px;
			height: 50px;

			border-radius: 100%;

			background-color: #00ffff;
		}
	}
}
